@font-face {
  font-family: montserrat;
  src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}

.transition-fade {
  opacity: 1;
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

html.is-animating .transition-fade {
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

html.is-leaving .transition-fade {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

html {
  height: 100%;
  font-family: montserrat;
  overflow-x: hidden;
}

body {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  height: 100%;
  font-family: montserrat;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  margin: 0;
  overflow: hidden;
}

nav .nav-bar {
  max-width: 1000px;
  margin: auto;
}

nav .nav-bar a {
  color: black;
  display: inline-block;
  text-decoration: none;
}

nav .nav-bar img {
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 10px;
  height: 70px;
  border-radius: 50%;
}

nav .nav-bar ul {
  float: right;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

nav .nav-bar ul li {
  list-style-type: none;
}

nav .nav-bar ul li a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  display: block;
  text-decoration: none;
  line-height: 70px;
  padding: 0 20px;
}

.centered-content-box {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: 10px;
  max-width: 400px;
}

.centered-content-box p.portfolio-paragraph {
  font-size: 16px;
}

.centered-content-box h1.portfolio-header {
  font-size: 64px;
  margin: 10px;
  font-family: montserrat;
}

.centered-content-box span.portfolio-button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #1b2735;
  font-weight: bold;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px;
  padding: .75rem 1.25rem;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.centered-content-box span.portfolio-button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -2;
}

.centered-content-box span.portfolio-button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #71c7ec;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: -1;
}

.centered-content-box span.portfolio-button:hover:before {
  width: 100%;
}

.centered-content-box img.portfolio-image {
  height: 150px;
  border-radius: 5em;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  vertical-align: middle;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: 10px;
  max-width: 1000px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.item p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

#catering-assistant {
  background-image: url("../img/kitchen.jpg");
}

#sales-assistant {
  background-image: url("../img/store.jpg");
}

#content-creator {
  background-image: url("../img/stream.jpg");
}

#devops-associate {
  background-image: url("../img/associate.jpg");
}

#devops-analyst {
  background-image: url("../img/analyst.jpg");
}

#devops-snr-analyst {
  background-image: url("../img/snr-analyst.jpg");
}

@media (min-width: 800px) {
  footer {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  footer img {
    height: 50px;
    margin: 10px;
  }
}

@media (max-width: 800px) {
  footer {
    display: none;
  }
  body {
    background: #090a0f;
  }
}
/*# sourceMappingURL=index.css.map */